* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background: #887d7dff;
    overflow: hidden;
}

/* CONTENEDOR PRINCIPAL */
.login-wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
}

/* COLUMNA IZQUIERDA: IMAGEN */
.login-left {
    width: 50%;
    overflow: hidden;
    position: relative;
}

.login-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* LÍNEA AZUL ENTRE COLUMNAS */
.login-left::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: #338bda; /* azul de la captura */
}

/* COLUMNA DERECHA: FORMULARIO */
.login-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* TARJETA */
.login-card {
    width: 80%;
    max-width: 430px;
    text-align: center;
}

.login-card h1 {
    font-size: 38px;
    font-weight: 300;
    margin-bottom: 40px;
}

/* CAMPOS */
.login-card input {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 20px;
    border: 1px solid #888;
    font-size: 15px;
}

/* LINK */
.forgot-link {
    display: block;
    width: 100%;
    text-align: left;
    font-size: 12px;
    color: #333;
    margin-bottom: 20px;
}

/* BOTÓN */
.login-card button {
    width: 100%;
    padding: 12px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background: #9a9a9a;
    color: #fff;
    font-size: 15px;
}

.login-card button:hover {
    background: #7c7c7c;
}

/* ERROR */
.error-msg {
    color: red;
    margin-bottom: 10px;
    font-size: 14px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .login-left {
        display: none;
    }
    .login-right {
        width: 100%;
    }
}
